{% extends "base.html" %}

    {% block content %}
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row row-list">
              <div class="col-xs-1">
                <button type="submit" class="btn btn-xs">
                  <a href="/tracker/{{ prev }}"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a>
                </button>
              </div>
              <div class="col-xs-10">
                <p class="text-center">
                  <strong>{{ year }}</strong>
                </p>
              </div>
              <div class="col-xs-1">
                <button type="submit" class="btn btn-xs pull-right">
                  <a href="/tracker/{{ next }}"><span class="sr-only">Next</span><span class="glyphicon glyphicon-chevron-right"></span></a>
                </button>
              </div>
            </div>
          </div>

          <ul class="list-group">
            {% for month, number in months %}
            <li class="list-group-item"><a href="/tracker/{{ year }}/{{ month }}">{{ month }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endblock content %}
